
.intro-hero{
    color:white;

}
#hero-sec{
    height:100%;
    width:100%;
    max-width: 85rem;
    overflow: hidden;
    margin: 0 auto;
    position: relative;

}
.bg-logo{
    display: flex;
    margin-top: 20px;
}
 .mylogo{
    height:400px;
    width:450px;
    background: black;
    display: flex;
    margin-left: 900px;
    border-radius: 10px;
    margin-top: 20px;
    z-index:20;
    object-fit: cover;
    border: 1px solid white;
    
}
.hire{
    height:40px;
    width:120px;
    border-radius:40px;
    color:black;
    background:white;
    position: absolute;
    top:270px;
    display: flex;
    margin-top: 60px;
    margin-left: 108px;
    border: 3px solid red;
    
}
.intro-hero{
    position: absolute;
    top:50px;
    display:inline-block;
    margin-left: 100px;
    margin-top: 20px;
   

}
.box{
    display:flex;
    margin-left: 8px;
    font-size: 19px;
    margin-top: 9px;
}
.hire-me{
    display: flex;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 5px;
    color: black;
    font-weight: 500;
}

.hello{
    display: flex;
margin-top: 20px;
font-size: 20px;

}
.nra{
    display:flex;
    font-size: 50px;
    margin-top:150px;
    position: absolute;
    left:0;
    color: yellow;

}

.name{
    font-size: 50px;
    display: flex;

    margin-top: 20px;
}
@media screen and (max-width:480px){
    .mylogo{
        margin-left: 70px;
        height: 250px;
        width:250px
    
    }
    .intro-hero{
            margin-left: 50px;
            color:white;
            display: none;

    }
    .hire-me{
        color:black;
        background:white;
       
    }
    .hire{
        height: 30px;
        width:90px;
        border-radius:40px;
        color:black;
        background:white;

    }
    .name{
        font-size: 30px;
    }
    .nra{
        font-size: 30px;
    }
    .devloper{
        font-size: 15px;
    }

    

}