.navbar{
    height: 5rem;
    width:100vw;
    margin: 0 auto;
    padding:1rem 2rem ;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: sticky;
    z-index: 3;
    top:0;
}
.logho{
    object-fit: cover;
    height: 90px;
    width:90px;
    border-radius:50px;
}
.logho:hover{
    background: white;
    box-shadow:0 0 5px rgb(100,100,100), 0 0 5px rgb(100,100,100), 0 0 5px rgb(100,100,100);
}
.nav-list{
    margin: 20px;
    color: white;
    cursor: pointer;
}

.icon-img{
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 16px;
}


 .contact-btn{
    background: white;
    color: black;
    height: 40px;
    width:120px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    border: 3px solid red;
}
.contact-btn:hover{
    background: white;
    box-shadow:0 0 10px rgb(100,100,100), 0 0 10px rgb(100,100,100), 0 0 10px rgb(100,100,100);
    
}
ul{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
    margin-left:30px ;
}
li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 18;
}

li a::after{
    background: yellow;
    width:0 ;
    height: 3px;
    margin: auto;
    content:" ";
    display:block;


  
}
li a:hover::after{
    width:100%;
    transition:width 0.3s linear;
}


